{
  "presets": [
    ["next/babel", {
      "preset-env": {
        "modules": "auto"
      }
    }]
  ],
  "plugins": [
    "lodash",
    ["react-intl", {
      "messagesDir": "./dist/messages/"
    }],
    "styled-components"
  ],
  "env": {
    "development" : {
      "compact": false
    }
  }
}
