{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "modules": "auto"
        }
      }
    ]
  ],
  "plugins": [
    "lodash",
    [
      "react-intl",
      {
        "messagesDir": "./dist/messages/"
      }
    ],
    "styled-components"
  ],
  "env": {
    "development": {
      "compact": false
    },
    "production": {
      "plugins": [
        [
          "transform-react-remove-prop-types",
          {
            "removeImport": true
          }
        ],
        "transform-styled-components-remove-prop-types"
      ]
    }
  }
}
