{
  "extends": [
    "opencollective",
  ],
  "env": {
    "jest": true,
  },
  "plugins": [
    "graphql"
  ],
  "rules": {
    "no-console": "warn",
    "node/no-unsupported-features/es-syntax": "off",
    "graphql/template-strings": ["error", {"env": "apollo"}],
    "graphql/named-operations": ["error"],
    "graphql/capitalized-type-name": ["error"],
    "graphql/no-deprecated-fields": ["error"],
  }
}
