.next
.env
.env.*
node_modules
npm-debug.log.*
./report.*.json
*.log
yarn.lock
.DS_Store
build
coverage
.nyc_output
test/cypress/screenshots
test/cypress/videos
dist
stage
*.swp
styleguide/index.html
styleguide/build/
styleguide/static/fonts
storybook-static
.vimrc

# VSCode & VSCode's extensions
.vscode/*
.history

# JetBrains
.idea/
*.iml

# Git time manager
.gtm

# Typescript
tsconfig.tsbuildinfo
next-env.d.ts

# Frontend components build files
scripts/publish-components/.tmp
.rollup.cache

# Sentry
.sentryclirc
