lib-cov
*.DS_Store
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

node_modules
coverage
dbdumps
test-results.xml
dist
yarn.lock
.nyc_output
temp.js
tempStripe.js

.env
.env.*
.envrc

!.env.development
!.env.test

# IDE files
jsconfig.json
typings
.gtm
# VSCode
.history
.vscode
# JetBrains
.idea/
*.iml

# test artifacts
output/


*.swp
