// ============TITLES================

@mixin titles($typo, $style, $weight) {
	font-family: $typo;
	font-style: $style;
	font-weight: $weight;
}

// =============FONTS==============





// =============VARIABLES==============

/* =Colors
-----------------------------------------------------------------------------*/
$color-primary:				#000000;
$color-secondary: 			#005BFE;

$color-text:					#010101;
$color-text-light:			#414141;
$color-text-black:			#000000;

$color-accent:				#F8F8F9;
$color-divider:				#E0E0E0;

$color-select-bg:	 		#FFE400;
$color-select-text:			#000000;
$color-placeholder:		#CCCCCC;

/* = Size Breakpoints
-----------------------------------------------------------------------------*/
$screen-xs:				576px  !default;
$screen-sm:				768px  !default;
$screen-md:			1024px  !default;
$screen-lg:				1440px  !default;
$screen-full:			1600px  !default;

/* =Fonts
-----------------------------------------------------------------------------*/
$title: 			"Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$title-bold: 		"Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

$text: 			"Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$text-light: 		"Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$text-bold: 		"Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

$text-mono:	monospace, monospace;
$text-serif: 		'Merriweather', serif;

@mixin title{
	@include titles($title, normal, 700);
}

@mixin title-bold{
	@include titles($title, normal, 900);
}

@mixin text{
	@include titles($text, normal, 400);
}

@mixin text-light{
	@include titles($text, normal, 300);
}

@mixin text-bold{
	@include titles($text, normal, 700);
}

@mixin text-serif{
	@include titles($text-serif, normal, 400);
}

@mixin text-mono{
	@include titles($text-mono, normal, 400);
}


// =============TYPOGRAPHY==============

html{

}

body{
	@include text;
}

/* =Titles
-----------------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6{
	@include title;
}

h1{

}

h2{

}

h3{

}

h4{

}

h5{

}

h6{

}

/* =Text
-----------------------------------------------------------------------------*/
a{

}

p{

}

span{

}

var{

}

code, pre{

}

/* =Selection
-----------------------------------------------------------------------------*/
::-moz-selection {
	color: $color-select-text;
	background: $color-select-bg;
}
::selection {
	color: $color-select-text;
	background: $color-select-bg;
}

/* =Placeholder
-----------------------------------------------------------------------------*/
::-webkit-input-placeholder {
	color: $color-placeholder;
}

:-moz-placeholder {
	color: $color-placeholder;
}

::-moz-placeholder {
	color: $color-placeholder;
}

:-ms-input-placeholder {
	color: $color-placeholder;
}

::-ms-input-placeholder {
	color: $color-placeholder;
}

::placeholder {
	color: $color-placeholder;
}




