// =============RESPONSIVE==============

@mixin media($breakpoint...){

	/* = Small phones
	-----------------------------------------------------------------------------*/
	@if index($breakpoint, xs){
		@media (min-width: 0px) and (max-width: $screen-xs) {
			@content;
		}
	}

	/* =
	-----------------------------------------------------------------------------*/
	@if index($breakpoint, small){
		@media (min-width: 0px) and (max-width: $screen-sm) {
			@content;
		}
	}

	/* =
	-----------------------------------------------------------------------------*/
	@if index($breakpoint, medium){
		@media (min-width: $screen-sm+1) and (max-width: $screen-md) {
			@content;
		}
	}

	/* =
	-----------------------------------------------------------------------------*/
	@if index($breakpoint, large){
		@media (min-width: $screen-md+1) and (max-width: $screen-lg) {
			@content;
		}
	}

	/* =
	-----------------------------------------------------------------------------*/
	@if index($breakpoint, full){
		@media (min-width: $screen-lg+1) {
			@content;
		}
	}
}

// ==============MODIFIERS===============

.remove{
	margin: 0;
	padding: 0;
}

// ================MIXINS=================

// CENTER,HORIZONTAL,VERITCAL-ALIGN

@mixin center-align() {
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

@mixin horizontal-align() {
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

@mixin vertical-align(){
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

//TRANSITIONS

@mixin transition($time){
	-webkit-transition: all $time ease-in-out;
	-moz-transition: all $time ease-in-out;
	-ms-transition: all $time ease-in-out;
	-o-transition: all $time ease-in-out;
	transition: all $time ease-in-out;
}

//Z-INDEX

@mixin before{
	z-index: 5;
}

@mixin middle{
	z-index: 10;
}

@mixin after{
	z-index: 20;
}


// CALCULATE

@function rTres($var, $cien){
	@return ($var * 100)/$cien;
}

@function porciento($var, $cien){
	@return rTres($var, $cien) * 1%;
}

@function tvw ($var, $cien){
	@return rTres($var,$cien) * 1vw;
}

@function tvh ($var, $cien){
	@return rTres($var,$cien) * 1vh;
}

@function psTr($ps){
	@return ($ps / 1000) * 1em;
}