{{#if monthlyInterval }}
<p> Please note that your future payments will be charged on 1st of each month. To prevent you from being charged twice in a short time frame, if you contribute after the 15th of a given month, the next charge will not be the 1st of next month but the month after. <a
    href='https://github.com/opencollective/documentation/blob/master/backers-and-sponsors/payment.md#why-do-you-charge-recurring-monthly-subscriptions-on-1st-of-every-month'> Why
    we do this?</a></p>
{{/if}}