<style>
  .Footer {
    width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #303233;
    padding: 32px 0;
  }
  .FooterLogo {
    display: block;
    width: 224px;
    height: 28px;
    margin: 0 auto;
    margin-bottom: 24px;
    background-image: url({{config.host.website}}/static/images/email/oc-logo-white.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .Footer p {
    margin: 5px;
    text-align: center;
    font-family: Helvetica;
    font-size: 11px;
    line-height: 1.46;
    text-align: center;
    color: #fff;
  }
</style>

<div class="Footer">
  <a class="FooterLogo" href="{{config.host.website}}"></a>
  <p>Made with ❤️ in NYC, Guadalajara and Brussels.</p>
</div>