<style>
.CollectiveCards {
  overflow: hidden;
  display: inline-block;
  height: 255px;
}
th {
  padding: 10px;
  font-weight: normal;
  font-size: 14px;
  color: #7A7B82;
  vertical-align: top;
}
</style>

{{#if relatedGroups.length}}
<table width="100%" height=30>
  <tr>
    <td class="tdline"></td><th rowspan=2 nowrap>Related collectives</th><td class="tdline"></td>
  </tr>
  <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
</table>

<div class="CollectiveCards">
{{#each relatedGroups}}
  {{> collectivecard}}
{{/each}}
</div>

{{/if}}