
@font-face {
  font-family: 'Inter-Bold';
  src: url('Inter-Bold.eot?#iefix') format('embedded-opentype'),  url('Inter-Bold.woff') format('woff'), url('Inter-Bold.ttf')  format('truetype'), url('Inter-Bold.svg#Inter-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
