/**
 * Marketing Page: How it Works
 * all styles namespaced under the `.mkt-page-how-it-works` classname
 */

.mkt-page-how-it-works {
    color: #4E5052;
    font-size: 14px;
}

.mkt-page-how-it-works * {
    margin: 0;
    padding: 0;
    font-weight: 400;
    text-align: inherit;
}

.mkt-page-how-it-works img {
    max-width: 100%;
}

.mkt-page-how-it-works section {
    overflow: initial;
    padding-bottom: 60px;
}

@media (min-width: 52em) {
    .mkt-page-how-it-works section {
        padding-bottom: 160px;
    }
}

.mkt-page-how-it-works svg {
    fill: currentColor;
}

.mkt-page-how-it-works ul.styled-list li {
    padding-left: 30px;
    list-style: none;
    background: url("../images/bullet.svg") 0 6px no-repeat;
}

.mkt-page-how-it-works ul.style-none {
    list-style: none;
}

.mkt-page-how-it-works .wrapper {
    max-width: 1232px;
    margin: 0 auto;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}

.mkt-page-how-it-works .center {
    text-align: center;
}

.mkt-page-how-it-works .right-align {
    text-align: right;
}

.mkt-page-how-it-works .upper {
    text-transform: uppercase;
}

.mkt-page-how-it-works .section-dark {
    background-image: linear-gradient(0deg, #3385FF 7.29%, #004CBE 82.95%);
}

.mkt-page-how-it-works .white100 {
    color: #FFF;
}

.mkt-page-how-it-works .primary200 {
    color: #B8DEFF;
}

.mkt-page-how-it-works .primary500 {
    color: #1F87FF;
}

.mkt-page-how-it-works h1,
.mkt-page-how-it-works h2,
.mkt-page-how-it-works h3 {
    color: #313233;
}

.mkt-page-how-it-works .h600 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.2px;
}

.mkt-page-how-it-works .h300 {
    font-size: 16px;
    line-height: 24px;
}

.mkt-page-how-it-works .tiny {
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.4px;
}

@media (min-width: 52em) {
    .mkt-page-how-it-works .h600 {
        font-size: 52px;
        line-height: 56px;
        letter-spacing: -0.8px;
    }
    .mkt-page-how-it-works .h300 {
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.4px;
    }
}

.mkt-page-how-it-works .-font-thin {
    font-weight: 100;
}

.mkt-page-how-it-works .-font-extra-light,
.mkt-page-how-it-works .-font-ultra-light {
    font-weight: 200;
}

.mkt-page-how-it-works .-font-light {
    font-weight: 300;
}

.mkt-page-how-it-works .-font-normal,
.mkt-page-how-it-works .-font-book,
.mkt-page-how-it-works .-font-regular {
    font-weight: 400;
}

.mkt-page-how-it-works .-font-medium {
    font-weight: 500;
}

.mkt-page-how-it-works .-font-semi-bold,
.mkt-page-how-it-works .-font-demi-bold {
    font-weight: 600;
}

.mkt-page-how-it-works .-font-bold {
    font-weight: 700;
}

.mkt-page-how-it-works .-font-extra-bold,
.mkt-page-how-it-works .-font-ultra-bold {
    font-weight: 800;
}

.mkt-page-how-it-works .-font-black,
.mkt-page-how-it-works .-font-heavy {
    font-weight: 900;
}

.mkt-page-how-it-works .p1 {
    padding: 1rem;
}

.mkt-page-how-it-works .px1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.mkt-page-how-it-works .pb1 {
    padding-bottom: 1rem;
}

.mkt-page-how-it-works .pb2 {
    padding-bottom: 2rem;
}

.mkt-page-how-it-works .pb3 {
    padding-bottom: 3rem;
}

.mkt-page-how-it-works .pb4 {
    padding-bottom: 4rem;
}

.mkt-page-how-it-works .pt4 {
    padding-top: 4rem;
}

@media (min-width: 52em) {
    .mkt-page-how-it-works .md-pb0 {
        padding-bottom: 0;
    }
    .mkt-page-how-it-works .md-pb1 {
        padding-bottom: 1rem;
    }
    .mkt-page-how-it-works .md-pb2 {
        padding-bottom: 2rem;
    }
    .mkt-page-how-it-works .md-pb3 {
        padding-bottom: 3rem;
    }
    .mkt-page-how-it-works .md-pb4 {
        padding-bottom: 4rem;
    }
}

.mkt-page-how-it-works .mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.mkt-page-how-it-works .mx1 {
    margin-left: 1.6rem;
    margin-right: 1.6rem;
}

.mkt-page-how-it-works .flex {
    display: flex;
}

.mkt-page-how-it-works .flex-column {
    flex-direction: column;
}

.mkt-page-how-it-works .flex-wrap {
    flex-wrap: wrap;
}

.mkt-page-how-it-works .items-center {
    align-items: center;
}

.mkt-page-how-it-works .justify-center {
    justify-content: center;
}

.mkt-page-how-it-works .justify-end {
    justify-content: flex-end;
}

.mkt-page-how-it-works .row-reverse {
    flex-direction: row-reverse;
}

.mkt-page-how-it-works .shrink-0 {
    flex-shrink: 0;
}

.mkt-page-how-it-works .order-2 {
    order: 2;
}

.mkt-page-how-it-works .col-3 {
    width: 25%;
}

.mkt-page-how-it-works .col-6 {
    width: 50%;
}

@media (min-width: 40em) {
    .mkt-page-how-it-works .sm-flex {
        display: flex;
        background: rgba(255, 0, 0, 0);
    }
    .mkt-page-how-it-works .sm-col-3 {
        width: 25%;
    }
    .mkt-page-how-it-works .sm-col-4 {
        width: 33%;
    }
    .mkt-page-how-it-works .sm-col-5 {
        width: 41%;
    }
    .mkt-page-how-it-works .sm-col-6 {
        width: 50%;
    }
    .mkt-page-how-it-works .sm-col-7 {
        width: 58%;
    }
}

@media (min-width: 52em) {
    .mkt-page-how-it-works .md-flex {
        display: flex;
        background: rgba(0, 255, 0, 0);
    }
    .mkt-page-how-it-works .md-col-1 {
        width: 8%;
    }
    .mkt-page-how-it-works .md-col-2 {
        width: 16%;
    }
    .mkt-page-how-it-works .md-col-3 {
        width: 25%;
    }
    .mkt-page-how-it-works .md-col-4 {
        width: 33%;
    }
    .mkt-page-how-it-works .md-col-5 {
        width: 41%;
    }
    .mkt-page-how-it-works .md-col-6 {
        width: 50%;
    }
    .mkt-page-how-it-works .md-col-7 {
        width: 58%;
    }
}

@media (min-width: 64em) {
    .mkt-page-how-it-works .lg-flex {
        display: flex;
        background: rgba(0, 0, 255, 0);
    }
    .mkt-page-how-it-works .lg-col-6 {
        width: 50%;
    }
}

.mkt-page-how-it-works .relative {
    position: relative;
}

.mkt-page-how-it-works .inline-block {
    display: inline-block;
}

.mkt-page-how-it-works .align-middle {
    vertical-align: middle;
}

.mkt-page-how-it-works .btn {
    font-size: inherit;
    line-height: calc(4em - 2px);
    min-width: 256px;
    border: 1px solid;
    font-weight: 600;
    border-radius: 32px;
    padding: 10px;
}

.mkt-page-how-it-works .btn.-white {
    color: #1F87FF;
    background-color: #FFF;
    border-color: #FFF;
}

.mkt-page-how-it-works .btn.-white:hover,
.mkt-page-how-it-works .btn.-white:focus {
    color: #0061E0;
    background-color: #F0F8FF;
    border-color: #F0F8FF;
}

.mkt-page-how-it-works .btn.-white:active {
    box-shadow: none;
    color: #0061E0;
    background-color: #E0F1FF;
    border-color: #E0F1FF;
}

.mkt-page-how-it-works .btn.-ghost {
    color: #FFF;
    border-color: rgba(255, 255, 255, 0.48);
}

.mkt-page-how-it-works .btn.-ghost:hover,
.mkt-page-how-it-works .btn.-ghost:focus {
    border-color: white;
}

.mkt-page-how-it-works .btn.-ghost:active {
    box-shadow: none;
    color: #0061E0;
    background-color: #E0F1FF;
    border-color: #E0F1FF;
}

.mkt-page-how-it-works section.cta-bottom {
    padding-bottom: 96px;
}

.mkt-page-how-it-works section.cta-bottom::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #FFF;
    -webkit-clip-path: ellipse(100% 100% at 50% 0%);
    clip-path: ellipse(100% 100% at 50% 0%);
}

.mkt-page-how-it-works section.cta-bottom svg.bubbles {
    margin-top: 35px;
    width: 100%;
}

.mkt-page-how-it-works section.cta-bottom svg.bubbles path {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    transform-box: fill-box;
    -webkit-animation: cta-bottom-bubbles 2s infinite ease alternate;
    animation: cta-bottom-bubbles 2s infinite ease alternate;
}

.mkt-page-how-it-works section.cta-bottom svg.bubbles path:nth-child(1) {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.mkt-page-how-it-works section.cta-bottom svg.bubbles path:nth-child(2) {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.mkt-page-how-it-works section.cta-bottom svg.bubbles path:nth-child(3) {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

.mkt-page-how-it-works section.cta-bottom svg.bubbles path:nth-child(4) {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}

.mkt-page-how-it-works section.cta-bottom svg.bubbles path:nth-child(5) {
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}

.mkt-page-how-it-works section.cta-bottom svg.bubbles path:nth-child(6) {
    -webkit-animation-delay: 6s;
    animation-delay: 6s;
}

.mkt-page-how-it-works section.cta-bottom svg.bubbles path:nth-child(7) {
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
}

.mkt-page-how-it-works section.cta-bottom header {
    padding-top: 40px;
}

@-webkit-keyframes cta-bottom-bubbles {
    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes cta-bottom-bubbles {
    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.mkt-page-how-it-works section.hero {
    padding-top: 56px;
    padding-bottom: 0;
    margin-bottom: 60px;
}

@media (min-width: 52em) {
    .mkt-page-how-it-works section.hero {
        margin-bottom: 160px;
    }
}

.mkt-page-how-it-works section.hero::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -1px;
    height: 37%;
    background: linear-gradient(#D6ECFF 0%, #FFFFFF 40%);
    -webkit-clip-path: ellipse(200% 100% at 50% 100%);
    clip-path: ellipse(200% 100% at 50% 100%);
}

.mkt-page-how-it-works section.hero h1 {
    margin: 0 auto;
    padding-top: 24px;
}

@media (min-width: 52em) {
    .mkt-page-how-it-works section.hero h1 {
        max-width: 40%;
    }
}

.mkt-page-how-it-works section.hero h2 {
    padding-top: 1em;
}

.mkt-page-how-it-works section.hero img {
    width: 853px;
    padding-top: 3em;
}

.mkt-page-how-it-works section.features-budget-goals .budget-graph {
    position: relative;
    width: 100%;
    order: -1;
    padding: 1rem 0;
}

.mkt-page-how-it-works section.features-budget-goals .budget-graph-tooltip {
    position: relative;
    display: inline-block;
    border: 1px solid #DADADA;
    padding: .75em 1em;
    margin: 1rem 0;
    border-radius: 8px;
    background-color: #FFF;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: translate(-50%, 0) rotate(0);
    transform: translate(-50%, 0) rotate(0);
    will-change: transform;
    -webkit-filter: drop-shadow(0 4px 6px rgba(12, 16, 20, 0.08));
    filter: drop-shadow(0 4px 6px rgba(12, 16, 20, 0.08));
}

.mkt-page-how-it-works section.features-budget-goals .budget-graph-tooltip::before,
.mkt-page-how-it-works section.features-budget-goals .budget-graph-tooltip::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    border-width: 7px;
    border-style: solid;
    border-color: transparent;
    border-top-color: inherit;
}

.mkt-page-how-it-works section.features-budget-goals .budget-graph-tooltip::after {
    border-width: 6px;
    border-top-color: #FFF;
}

.mkt-page-how-it-works section.features-budget-goals .budget-graph-tooltip > .title {
    font-size: 10px;
    color: #9399A3;
}

.mkt-page-how-it-works section.features-budget-goals .budget-graph-tooltip > .desc {
    font-size: 12px;
}

.mkt-page-how-it-works section.features-budget-goals .budget-graph-tooltip:nth-of-type(1) {
    left: 25%;
}

.mkt-page-how-it-works section.features-budget-goals .budget-graph-tooltip:nth-of-type(2) {
    left: 75%;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}

.mkt-page-how-it-works section.features-budget-goals .budget-graph-tooltip:nth-of-type(2)::before,
.mkt-page-how-it-works section.features-budget-goals .budget-graph-tooltip:nth-of-type(2)::after {
    top: initial;
    bottom: 100%;
    border-bottom-color: inherit;
    border-top-color: transparent;
}

.mkt-page-how-it-works section.features-budget-goals .budget-graph-tooltip:nth-of-type(2)::after {
    border-bottom-color: #FFF;
}

.mkt-page-how-it-works section.features-budget-goals .budget-graph-tooltip.animate {
    -webkit-animation: budget-graph-tooltip 1000ms ease-out forwards;
    animation: budget-graph-tooltip 1000ms ease-out forwards;
}

.mkt-page-how-it-works section.features-budget-goals .budget-graph-progress.animate {
    transition: width 1000ms ease-out;
    width: 25%;
}

@media (min-width: 52em) {
    .mkt-page-how-it-works section.features-budget-goals .budget-graph-tooltip:nth-of-type(2) {
        position: absolute;
        top: 1rem;
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }
    .mkt-page-how-it-works section.features-budget-goals .budget-graph-tooltip:nth-of-type(2)::before,
    .mkt-page-how-it-works section.features-budget-goals .budget-graph-tooltip:nth-of-type(2)::after {
        top: 100%;
        bottom: initial;
        border-top-color: inherit;
        border-bottom-color: transparent;
    }
    .mkt-page-how-it-works section.features-budget-goals .budget-graph-tooltip:nth-of-type(2)::after {
        border-top-color: #FFF;
    }
    .mkt-page-how-it-works section.features-budget-goals .budget-text {
        width: 22%;
        position: relative;
    }
    .mkt-page-how-it-works section.features-budget-goals .budget-text:nth-of-type(1) {
        left: 25%;
    }
    .mkt-page-how-it-works section.features-budget-goals .budget-text:nth-of-type(2) {
        left: 53%;
    }
}

@-webkit-keyframes budget-graph-tooltip {
    20%,
    60% {
        -webkit-transform: translate(-50%, 0) rotate(6deg);
        transform: translate(-50%, 0) rotate(6deg);
    }
    40%,
    80% {
        -webkit-transform: translate(-50%, 0) rotate(-6deg);
        transform: translate(-50%, 0) rotate(-6deg);
    }
}

@keyframes budget-graph-tooltip {
    20%,
    60% {
        -webkit-transform: translate(-50%, 0) rotate(6deg);
        transform: translate(-50%, 0) rotate(6deg);
    }
    40%,
    80% {
        -webkit-transform: translate(-50%, 0) rotate(-6deg);
        transform: translate(-50%, 0) rotate(-6deg);
    }
}

.mkt-page-how-it-works section.features-manage-expenses img {
    padding-top: 5.6rem;
}

.mkt-page-how-it-works section.features-transparent-ledger img {
    padding-top: 6.2rem;
}

.mkt-page-how-it-works section.features-open-data-open-source img {
    padding-top: 5.6rem;
}

.mkt-page-how-it-works section.more-features {
    font-size: 14px;
}

@media (min-width: 52em) {
    .mkt-page-how-it-works section.more-features {
        padding-bottom: 128px;
    }
}

.mkt-page-how-it-works section.more-features header {
    padding-bottom: 5.6rem;
}

@media (min-width: 52em) {
    .mkt-page-how-it-works {
        font-size: 16px;
    }
}

.mkt-page-how-it-works section.features {
    max-width: 1120px;
    padding: 0;
    margin: 0 auto;
}
