/**
 * Marketing Page: Become a fiscal host
 * all styles namespaced under the `.mkt-page-become-a-fiscal-host` parent classname
 */

.mkt-page-become-a-fiscal-host {
    color: #4B4E52;
    font-size: 14px;
}

.mkt-page-become-a-fiscal-host * {
    margin: 0;
    padding: 0;
    font-weight: 400;
    text-align: inherit;
}

.mkt-page-become-a-fiscal-host img {
    max-width: 100%;
}

.mkt-page-become-a-fiscal-host section {
    overflow: initial;
    padding-bottom: 60px;
}

@media (min-width: 52em) {
    .mkt-page-become-a-fiscal-host section {
        padding-bottom: 160px;
    }
}

.mkt-page-become-a-fiscal-host svg {
    fill: currentColor;
}

.mkt-page-become-a-fiscal-host ul.styled-list li {
    padding-left: 2rem;
    list-style: none;
    background-image: url("../images/bullet.svg");
    background-repeat: no-repeat;
    background-position: 0 2px;
}

.mkt-page-become-a-fiscal-host ul.styled-list li:not(:last-child) {
    padding-bottom: 1rem;
}

@media (min-width: 52em) {
    .mkt-page-become-a-fiscal-host ul.styled-list li {
        background-position: 0 5px;
    }
}

.mkt-page-become-a-fiscal-host .wrapper {
    max-width: 1232px;
    margin: 0 auto;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}

.mkt-page-become-a-fiscal-host .center {
    text-align: center;
}

.mkt-page-become-a-fiscal-host .upper {
    text-transform: uppercase;
}

.mkt-page-become-a-fiscal-host .section-dark {
    background-image: linear-gradient(0deg, #3385FF 7.29%, #004CBE 82.95%);
}

.mkt-page-become-a-fiscal-host .white48 {
    color: rgba(255, 255, 255, 0.48);
}

.mkt-page-become-a-fiscal-host .white100 {
    color: #FFF;
}

.mkt-page-become-a-fiscal-host .primary50 {
    color: #F0F8FF;
}

.mkt-page-become-a-fiscal-host .primary200 {
    color: #B8DEFF;
}

.mkt-page-become-a-fiscal-host .primary500 {
    color: #1F87FF;
}

.mkt-page-become-a-fiscal-host .red500 {
    color: #FF0044;
}

.mkt-page-become-a-fiscal-host .neutralsolid500 {
    color: #9D9FA3;
}

.mkt-page-become-a-fiscal-host .neutralsolid600 {
    color: #76777A;
}

.mkt-page-become-a-fiscal-host .neutralsolid700 {
    color: #4E5052;
}

.mkt-page-become-a-fiscal-host .neutralsolid800 {
    color: #313233;
}

.mkt-page-become-a-fiscal-host .neutralsolid900 {
    color: #141414;
}

.mkt-page-become-a-fiscal-host h1,
.mkt-page-become-a-fiscal-host h2,
.mkt-page-become-a-fiscal-host h3 {
    color: #313233;
}

.mkt-page-become-a-fiscal-host .h300 {
    font-size: 20px;
    line-height: 22px;
    letter-spacing: -0.2px;
}

.mkt-page-become-a-fiscal-host .h400 {
    font-size: 24px;
    line-height: 32px;
}

.mkt-page-become-a-fiscal-host .h500 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.2px;
}

.mkt-page-become-a-fiscal-host .h600 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.4px;
}

.mkt-page-become-a-fiscal-host .h700 {
    font-size: 52px;
    line-height: 56px;
    letter-spacing: -0.4px;
}

.mkt-page-become-a-fiscal-host .paragraph {
    font-size: 14px;
    line-height: 24px;
}

.mkt-page-become-a-fiscal-host .caption {
    font-size: 12px;
    line-height: 16px;
}

.mkt-page-become-a-fiscal-host .tiny {
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.4px;
}

@media (min-width: 52em) {
    .mkt-page-become-a-fiscal-host .h300 {
        font-size: 24px;
        line-height: 36px;
        letter-spacing: -0.4px;
    }
    .mkt-page-become-a-fiscal-host .h400 {
        font-size: 32px;
        line-height: 40px;
    }
    .mkt-page-become-a-fiscal-host .h500 {
        font-size: 40px;
        line-height: 48px;
    }
    .mkt-page-become-a-fiscal-host .h600 {
        font-size: 52px;
        line-height: 56px;
        letter-spacing: -0.8px;
    }
    .mkt-page-become-a-fiscal-host .h700 {
        font-size: 64px;
        line-height: 72px;
        letter-spacing: -1.6px;
    }
}

.mkt-page-become-a-fiscal-host .-font-thin {
    font-weight: 100;
}

.mkt-page-become-a-fiscal-host .-font-extra-light,
.mkt-page-become-a-fiscal-host .-font-ultra-light {
    font-weight: 200;
}

.mkt-page-become-a-fiscal-host .-font-light {
    font-weight: 300;
}

.mkt-page-become-a-fiscal-host .-font-normal,
.mkt-page-become-a-fiscal-host .-font-book,
.mkt-page-become-a-fiscal-host .-font-regular {
    font-weight: 400;
}

.mkt-page-become-a-fiscal-host .-font-medium {
    font-weight: 500;
}

.mkt-page-become-a-fiscal-host .-font-semi-bold,
.mkt-page-become-a-fiscal-host .-font-demi-bold {
    font-weight: 600;
}

.mkt-page-become-a-fiscal-host .-font-bold {
    font-weight: 700;
}

.mkt-page-become-a-fiscal-host .-font-extra-bold,
.mkt-page-become-a-fiscal-host .-font-ultra-bold {
    font-weight: 800;
}

.mkt-page-become-a-fiscal-host .-font-black,
.mkt-page-become-a-fiscal-host .-font-heavy {
    font-weight: 900;
}

.mkt-page-become-a-fiscal-host .p1 {
    padding: 8px;
}

.mkt-page-become-a-fiscal-host .px1 {
    padding-left: 8px;
    padding-right: 8px;
}

.mkt-page-become-a-fiscal-host .pb1 {
    padding-bottom: 8px;
}

.mkt-page-become-a-fiscal-host .pb2 {
    padding-bottom: 16px;
}

.mkt-page-become-a-fiscal-host .pb3 {
    padding-bottom: 24px;
}

.mkt-page-become-a-fiscal-host .pb4 {
    padding-bottom: 32px;
}

.mkt-page-become-a-fiscal-host .pt4 {
    padding-top: 32px;
}

@media (min-width: 40em) {
    .mkt-page-become-a-fiscal-host .sm-pr1 {
        padding-right: 8px;
    }
    .mkt-page-become-a-fiscal-host .sm-pl1 {
        padding-left: 8px;
    }
}

@media (min-width: 52em) {
    .mkt-page-become-a-fiscal-host .md-pb0 {
        padding-bottom: 0;
    }
}

.mkt-page-become-a-fiscal-host .mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.mkt-page-become-a-fiscal-host .mx1 {
    margin-left: 1.6rem;
    margin-right: 1.6rem;
}

.mkt-page-become-a-fiscal-host .flex {
    display: flex;
}

.mkt-page-become-a-fiscal-host .flex-column {
    flex-direction: column;
}

.mkt-page-become-a-fiscal-host .flex-wrap {
    flex-wrap: wrap;
}

.mkt-page-become-a-fiscal-host .items-center {
    align-items: center;
}

.mkt-page-become-a-fiscal-host .justify-center {
    justify-content: center;
}

.mkt-page-become-a-fiscal-host .justify-end {
    justify-content: flex-end;
}

.mkt-page-become-a-fiscal-host .row-reverse {
    flex-direction: row-reverse;
}

.mkt-page-become-a-fiscal-host .flex-auto {
    flex: 1;
}

.mkt-page-become-a-fiscal-host .shrink-0 {
    flex-shrink: 0;
}

.mkt-page-become-a-fiscal-host .order-2 {
    order: 2;
}

.mkt-page-become-a-fiscal-host .col-3 {
    width: 25%;
}

.mkt-page-become-a-fiscal-host .col-6 {
    width: 50%;
}

@media (min-width: 40em) {
    .mkt-page-become-a-fiscal-host .sm-flex {
        display: flex;
    }
    .mkt-page-become-a-fiscal-host .sm-col-6 {
        width: 50%;
    }
}

@media (min-width: 52em) {
    .mkt-page-become-a-fiscal-host .md-flex {
        display: flex;
        background: rgba(0, 255, 0, 0);
    }
    .mkt-page-become-a-fiscal-host .md-col-1 {
        width: 8%;
    }
    .mkt-page-become-a-fiscal-host .md-col-2 {
        width: 16%;
    }
    .mkt-page-become-a-fiscal-host .md-col-3 {
        width: 25%;
    }
    .mkt-page-become-a-fiscal-host .md-col-4 {
        width: 33%;
    }
    .mkt-page-become-a-fiscal-host .md-col-5 {
        width: 41%;
    }
    .mkt-page-become-a-fiscal-host .md-col-6 {
        width: 50%;
    }
    .mkt-page-become-a-fiscal-host .md-col-7 {
        width: 58%;
    }
    .mkt-page-become-a-fiscal-host .md-col-8 {
        width: 66%;
    }
}

@media (min-width: 64em) {
    .mkt-page-become-a-fiscal-host .lg-col-6 {
        width: 50%;
    }
}

.mkt-page-become-a-fiscal-host .relative {
    position: relative;
}

.mkt-page-become-a-fiscal-host .btn {
    font-size: inherit;
    line-height: calc(4em - 2px);
    min-width: 256px;
    border: 1px solid;
    font-weight: 600;
    border-radius: 32px;
    text-align: center;
}

.mkt-page-become-a-fiscal-host .btn.-primary {
    color: #FFF;
    background-color: #1F87FF;
    border-color: #1F87FF;
}

.mkt-page-become-a-fiscal-host .btn.-primary:hover {
    background-color: #0061E0;
    border-color: #0061E0;
}

.mkt-page-become-a-fiscal-host .btn.-primary:focus {
    outline: none;
    box-shadow: 0 0 0 1px #82FAA2;
    border-color: #82FAA2;
}

.mkt-page-become-a-fiscal-host .btn.-primary:active {
    box-shadow: none;
    background-color: #0041A3;
    border-color: #0041A3;
}

.mkt-page-become-a-fiscal-host .btn.-primary[disabled] {
    color: #B8DEFF;
    background-color: #F0F8FF;
    border-color: #F0F8FF;
}

.mkt-page-become-a-fiscal-host .btn.-white {
    color: #1F87FF;
    background-color: #FFF;
    border-color: #FFF;
}

.mkt-page-become-a-fiscal-host .btn.-white:hover,
.mkt-page-become-a-fiscal-host .btn.-white:focus {
    color: #0061E0;
    background-color: #F0F8FF;
    border-color: #F0F8FF;
}

.mkt-page-become-a-fiscal-host .btn.-white:active {
    box-shadow: none;
    color: #0061E0;
    background-color: #E0F1FF;
    border-color: #E0F1FF;
}

.mkt-page-become-a-fiscal-host .btn.-ghost {
    color: #FFF;
    border-color: rgba(255, 255, 255, 0.48);
}

.mkt-page-become-a-fiscal-host .btn.-ghost:hover,
.mkt-page-become-a-fiscal-host .btn.-ghost:focus {
    border-color: white;
}

.mkt-page-become-a-fiscal-host .btn.-ghost:active {
    box-shadow: none;
    color: #0061E0;
    background-color: #E0F1FF;
    border-color: #E0F1FF;
}

.mkt-page-become-a-fiscal-host .btn.-large {
    font-size: 14px;
    line-height: 46px;
}

.mkt-page-become-a-fiscal-host section.cta-bottom {
    padding-bottom: 96px;
}

.mkt-page-become-a-fiscal-host section.cta-bottom::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #FFF;
    -webkit-clip-path: ellipse(100% 100% at 50% 0%);
    clip-path: ellipse(100% 100% at 50% 0%);
}

.mkt-page-become-a-fiscal-host section.cta-bottom svg.bubbles {
    margin-top: 35px;
}

.mkt-page-become-a-fiscal-host section.cta-bottom svg.bubbles path {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    transform-box: fill-box;
    -webkit-animation: cta-bottom-bubbles 2s infinite ease alternate;
    animation: cta-bottom-bubbles 2s infinite ease alternate;
}

.mkt-page-become-a-fiscal-host section.cta-bottom svg.bubbles path:nth-child(1) {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.mkt-page-become-a-fiscal-host section.cta-bottom svg.bubbles path:nth-child(2) {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.mkt-page-become-a-fiscal-host section.cta-bottom svg.bubbles path:nth-child(3) {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

.mkt-page-become-a-fiscal-host section.cta-bottom svg.bubbles path:nth-child(4) {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}

.mkt-page-become-a-fiscal-host section.cta-bottom svg.bubbles path:nth-child(5) {
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}

.mkt-page-become-a-fiscal-host section.cta-bottom svg.bubbles path:nth-child(6) {
    -webkit-animation-delay: 6s;
    animation-delay: 6s;
}

.mkt-page-become-a-fiscal-host section.cta-bottom svg.bubbles path:nth-child(7) {
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
}

.mkt-page-become-a-fiscal-host section.cta-bottom header {
    padding-top: 40px;
}

@-webkit-keyframes cta-bottom-bubbles {
    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes cta-bottom-bubbles {
    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.mkt-page-become-a-fiscal-host section.hero {
    padding-top: 56px;
    padding-bottom: 0;
}

.mkt-page-become-a-fiscal-host section.hero header {
    padding-bottom: 72px;
}

@media (min-width: 52em) {
    .mkt-page-become-a-fiscal-host section.hero header {
        padding-bottom: 65px;
    }
}

.mkt-page-become-a-fiscal-host section.hero h1 {
    margin: 0 auto;
    padding-top: 24px;
}

@media (min-width: 52em) {
    .mkt-page-become-a-fiscal-host section.hero h1 {
        max-width: 70%;
    }
}

@media (min-width: 64em) {
    .mkt-page-become-a-fiscal-host section.hero h1 {
        max-width: 45%;
    }
}

.mkt-page-become-a-fiscal-host section.hero h2 {
    padding-top: 1em;
}

.mkt-page-become-a-fiscal-host section.hero .hero-desktop-col-images > img:not(:last-child) {
    padding-bottom: 72px;
}

.mkt-page-become-a-fiscal-host section.hero .hero-text-row {
    padding-bottom: 38px;
}

@media (min-width: 52em) {
    .mkt-page-become-a-fiscal-host section.hero .hero-text-row {
        padding-bottom: 72px;
    }
}

@media (min-width: 52em) {
    .mkt-page-become-a-fiscal-host section.hero::before {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        bottom: -1px;
        height: 50px;
        background: linear-gradient(#D6ECFF 0%, #FFFFFF 40%);
        -webkit-clip-path: ellipse(100% 100% at 50% 100%);
        clip-path: ellipse(100% 100% at 50% 100%);
    }
}

.mkt-page-become-a-fiscal-host section.features-reporting .features-reporting-graph-wrapper {
    padding: 0 40px;
}

@media (min-width: 52em) {
    .mkt-page-become-a-fiscal-host section.features-reporting .features-reporting-graph-wrapper {
        padding: 60px 40px;
    }
}

@media (min-width: 64em) {
    .mkt-page-become-a-fiscal-host section.features-reporting .features-reporting-graph-wrapper {
        padding: 60px 0;
    }
}

.mkt-page-become-a-fiscal-host section.features-reporting svg.features-reporting-graph {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mkt-page-become-a-fiscal-host section.case-studies .case-studies-card {
    display: block;
    position: relative;
    overflow: hidden;
    height: 100%;
    padding: 64px 20px 56px;
    background-color: rgba(0, 97, 224, 0.88);
    border-radius: 8px;
    transition: box-shadow 300ms;
}

.mkt-page-become-a-fiscal-host section.case-studies .case-studies-card .case-studies-cover-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: -webkit-transform 300ms ease-out;
    transition: transform 300ms ease-out;
    transition: transform 300ms ease-out, -webkit-transform 300ms ease-out;
    will-change: transform;
}

.mkt-page-become-a-fiscal-host section.case-studies .case-studies-card .case-studies-avatar-wrapper > img {
    border: 1px solid #F0F2F5;
    border-radius: 20px;
}

.mkt-page-become-a-fiscal-host section.case-studies .case-studies-card blockquote {
    border: none;
    font-size: 16px;
    line-height: 24px;
}

@media (min-width: 52em) {
    .mkt-page-become-a-fiscal-host section.case-studies .case-studies-card blockquote {
        font-size: 24px;
        line-height: 36px;
    }
}

.mkt-page-become-a-fiscal-host section.case-studies .case-studies-card blockquote footer {
    font-size: 20px;
    line-height: 22px;
    padding-top: 2.75rem;
}

.mkt-page-become-a-fiscal-host section.case-studies .case-studies-card blockquote footer::before {
    content: '';
}

.mkt-page-become-a-fiscal-host section.case-studies .case-studies-card blockquote cite {
    font-style: initial;
}

.mkt-page-become-a-fiscal-host section.case-studies .case-studies-card:hover,
.mkt-page-become-a-fiscal-host section.case-studies .case-studies-card:focus {
    outline: none;
    box-shadow: 0 24px 32px rgba(20, 20, 20, 0.24);
}

.mkt-page-become-a-fiscal-host section.case-studies .case-studies-card:hover .case-studies-cover-image,
.mkt-page-become-a-fiscal-host section.case-studies .case-studies-card:focus .case-studies-cover-image {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

@media (min-width: 52em) {
    .mkt-page-become-a-fiscal-host {
        font-size: 16px;
    }
}

.mkt-page-become-a-fiscal-host .mobile-show {
    display: none;
}

.mkt-page-become-a-fiscal-host .mobile-hide {
    display: block;
}

@media (max-width: 52em) {
    .mkt-page-become-a-fiscal-host .mobile-show {
        display: block;
    }
    .mkt-page-become-a-fiscal-host .mobile-hide {
        display: none;
    }
}

.mkt-page-become-a-fiscal-host section.features {
    position: relative;
    padding: 48px 0 0;
}

@media (min-width: 52em) {
    .mkt-page-become-a-fiscal-host section.features {
        padding: 100px 0 0;
    }
}

.mkt-page-become-a-fiscal-host section.features > article {
    padding-bottom: 35px;
}

@media (min-width: 52em) {
    .mkt-page-become-a-fiscal-host section.features > article {
        padding-bottom: 160px;
    }
}

.mkt-page-become-a-fiscal-host section.case-studies {
    padding-bottom: 0;
}

@media (min-width: 52em) {
    .mkt-page-become-a-fiscal-host section.case-studies {
        padding-bottom: 80px;
    }
}
