
@font-face {
  font-family: 'Inter-Medium';
  src: url('Inter-Medium.eot?#iefix') format('embedded-opentype'),  url('Inter-Medium.woff') format('woff'), url('Inter-Medium.ttf')  format('truetype'), url('Inter-Medium.svg#Inter-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
