.ActionBar {
  box-shadow: 0px 2px 4px rgba(0,0,0,.1);
}

.ActionBar .content {
  display: flex;
  padding: 0;
  flex-direction: row;
}

.ActionBar .info {
  float: left;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  height: 60px;
  border-left: 1px solid #E6E6E6;
  border-right: 1px solid #E6E6E6;
}

.ActionBar .info a {
  color: #797D80;
  text-decoration: none;
}

.ActionBar .buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 6rem;
}

.ActionBar .buttons button {
  border-right: 1px solid #E6E6E6;
  cursor: pointer;
}

@media(max-width: 600px) {
  .ActionBar .content {
    flex-direction: column;
  }
  .ActionBar .info {
    border-bottom: 1px solid #E6E6E6;
    border-right: none;
  }
}