/**
 * Marketing Page: Gift Cards
 * all styles namespaced under the `.mkt-page-gift-cards` classname
 */

.mkt-page-gift-cards * {
    margin: 0;
    padding: 0;
    font-weight: 400;
    text-align: inherit;
}

.mkt-page-gift-cards img {
    max-width: 100%;
}

.mkt-page-gift-cards section {
    overflow: initial;
    padding-bottom: 60px;
}

@media (min-width: 52em) {
    .mkt-page-gift-cards section {
        padding-bottom: 160px;
    }
}

.mkt-page-gift-cards svg {
    fill: currentColor;
}

.mkt-page-gift-cards .wrapper {
    max-width: 1232px;
    margin: 0 auto;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}

.mkt-page-gift-cards .center {
    text-align: center;
}

.mkt-page-gift-cards .white48 {
    color: rgba(255, 255, 255, 0.48);
}

.mkt-page-gift-cards .white100 {
    color: #FFF;
}

.mkt-page-gift-cards .primary50 {
    color: #F0F8FF;
}

.mkt-page-gift-cards .primary200 {
    color: #B8DEFF;
}

.mkt-page-gift-cards .primary500 {
    color: #1F87FF;
}

.mkt-page-gift-cards .red500 {
    color: #FF0044;
}

.mkt-page-gift-cards .neutralsolid500 {
    color: #9D9FA3;
}

.mkt-page-gift-cards .neutralsolid600 {
    color: #76777A;
}

.mkt-page-gift-cards .neutralsolid700 {
    color: #4E5052;
}

.mkt-page-gift-cards .neutralsolid800 {
    color: #313233;
}

.mkt-page-gift-cards .neutralsolid900 {
    color: #141414;
}

.mkt-page-gift-cards h1,
.mkt-page-gift-cards h2,
.mkt-page-gift-cards h3 {
    color: #313233;
}

.mkt-page-gift-cards .h300 {
    font-size: 18px;
    line-height: 24px;
}

.mkt-page-gift-cards .h400 {
    font-size: 24px;
    line-height: 32px;
}

.mkt-page-gift-cards .h500 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.2px;
}

.mkt-page-gift-cards .h600 {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.2px;
}

.mkt-page-gift-cards .h700 {
    font-size: 52px;
    line-height: 56px;
    letter-spacing: -0.4px;
}

.mkt-page-gift-cards .paragraph {
    font-size: 14px;
    line-height: 24px;
}

.mkt-page-gift-cards .caption {
    font-size: 12px;
    line-height: 16px;
}

.mkt-page-gift-cards .tiny {
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.4px;
}

@media (min-width: 52em) {
    .mkt-page-gift-cards .h300 {
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.4px;
    }
    .mkt-page-gift-cards .h400 {
        font-size: 32px;
        line-height: 40px;
    }
    .mkt-page-gift-cards .h500 {
        font-size: 40px;
        line-height: 48px;
    }
    .mkt-page-gift-cards .h600 {
        font-size: 52px;
        line-height: 56px;
        letter-spacing: -0.8px;
    }
    .mkt-page-gift-cards .h700 {
        font-size: 64px;
        line-height: 72px;
        letter-spacing: -1.6px;
    }
}

.mkt-page-gift-cards .-font-thin {
    font-weight: 100;
}

.mkt-page-gift-cards .-font-extra-light,
.mkt-page-gift-cards .-font-ultra-light {
    font-weight: 200;
}

.mkt-page-gift-cards .-font-light {
    font-weight: 300;
}

.mkt-page-gift-cards .-font-normal,
.mkt-page-gift-cards .-font-book,
.mkt-page-gift-cards .-font-regular {
    font-weight: 400;
}

.mkt-page-gift-cards .-font-medium {
    font-weight: 500;
}

.mkt-page-gift-cards .-font-semi-bold,
.mkt-page-gift-cards .-font-demi-bold {
    font-weight: 600;
}

.mkt-page-gift-cards .-font-bold {
    font-weight: 700;
}

.mkt-page-gift-cards .-font-extra-bold,
.mkt-page-gift-cards .-font-ultra-bold {
    font-weight: 800;
}

.mkt-page-gift-cards .-font-black,
.mkt-page-gift-cards .-font-heavy {
    font-weight: 900;
}

.mkt-page-gift-cards .p1 {
    padding: 8px;
}

.mkt-page-gift-cards .px1 {
    padding-left: 8px;
    padding-right: 8px;
}

.mkt-page-gift-cards .pb1 {
    padding-bottom: 8px;
}

.mkt-page-gift-cards .pb2 {
    padding-bottom: 16px;
}

.mkt-page-gift-cards .pb3 {
    padding-bottom: 24px;
}

.mkt-page-gift-cards .pb4 {
    padding-bottom: 32px;
}

@media (min-width: 40em) {
    .mkt-page-gift-cards .sm-pr1 {
        padding-right: 8px;
    }
    .mkt-page-gift-cards .sm-pl1 {
        padding-left: 8px;
    }
}

@media (min-width: 52em) {
    .mkt-page-gift-cards .md-pb0 {
        padding-bottom: 0;
    }
}

.mkt-page-gift-cards .mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.mkt-page-gift-cards .mx1 {
    margin-left: 1.6rem;
    margin-right: 1.6rem;
}

.mkt-page-gift-cards .flex {
    display: flex;
}

.mkt-page-gift-cards .flex-column {
    flex-direction: column;
}

.mkt-page-gift-cards .flex-wrap {
    flex-wrap: wrap;
}

.mkt-page-gift-cards .items-center {
    align-items: center;
}

.mkt-page-gift-cards .justify-center {
    justify-content: center;
}

.mkt-page-gift-cards .justify-end {
    justify-content: flex-end;
}

.mkt-page-gift-cards .row-reverse {
    flex-direction: row-reverse;
}

.mkt-page-gift-cards .shrink-0 {
    flex-shrink: 0;
}

.mkt-page-gift-cards .order-2 {
    order: 2;
}

.mkt-page-gift-cards .col-3 {
    width: 25%;
}

.mkt-page-gift-cards .col-6 {
    width: 50%;
}

@media (min-width: 40em) {
    .mkt-page-gift-cards .sm-flex {
        display: flex;
    }
    .mkt-page-gift-cards .sm-col-6 {
        width: 50%;
    }
}

@media (min-width: 52em) {
    .mkt-page-gift-cards .md-flex {
        display: flex;
        background: rgba(0, 255, 0, 0);
    }
    .mkt-page-gift-cards .md-col-1 {
        width: 8%;
    }
    .mkt-page-gift-cards .md-col-2 {
        width: 16%;
    }
    .mkt-page-gift-cards .md-col-3 {
        width: 25%;
    }
    .mkt-page-gift-cards .md-col-4 {
        width: 33%;
    }
    .mkt-page-gift-cards .md-col-5 {
        width: 41%;
    }
    .mkt-page-gift-cards .md-col-6 {
        width: 50%;
    }
    .mkt-page-gift-cards .md-col-7 {
        width: 58%;
    }
    .mkt-page-gift-cards .md-col-8 {
        width: 66%;
    }
}

@media (min-width: 64em) {
    .mkt-page-gift-cards .lg-col-6 {
        width: 50%;
    }
}

.mkt-page-gift-cards .relative {
    position: relative;
}

.mkt-page-gift-cards .text-input {
    display: flex;
    font-size: 14px;
    height: 40px;
    overflow: hidden;
    border: 1px solid #DCDEE0;
    background-color: #fff;
    border-radius: 4px;
}

.mkt-page-gift-cards .text-input > input {
    width: 100%;
    padding: 0 8px;
    border: none;
}

.mkt-page-gift-cards .text-input > input:focus {
    outline: none;
}

.mkt-page-gift-cards .text-input > input::-webkit-input-placeholder {
    color: #C4C7CC;
}

.mkt-page-gift-cards .text-input > input:-ms-input-placeholder {
    color: #C4C7CC;
}

.mkt-page-gift-cards .text-input > input::-ms-input-placeholder {
    color: #C4C7CC;
}

.mkt-page-gift-cards .text-input > input::placeholder {
    color: #C4C7CC;
}

.mkt-page-gift-cards .text-input > .field-element {
    display: flex;
    align-items: center;
    color: #C4C7CC;
    background-color: #F7F8FA;
    padding: 0 16px;
}

.mkt-page-gift-cards .text-input > .field-icon {
    display: flex;
    align-items: center;
    margin: 0 16px;
}

.mkt-page-gift-cards .text-input:hover {
    border-color: #99C9FF;
}

.mkt-page-gift-cards .text-input:focus-within {
    border-color: #3385FF;
}

.mkt-page-gift-cards .text-input:focus-within .field-element {
    color: #99CFFF;
    background-color: #E0F1FF;
}

.mkt-page-gift-cards .text-input.-success {
    border-color: #82FAA2;
}

.mkt-page-gift-cards .text-input.-success .field-element {
    color: #82FAA2;
    background-color: #EBFFF0;
}

.mkt-page-gift-cards .text-input.-success .field-icon {
    color: #00CC36;
}

.mkt-page-gift-cards .text-input.-error {
    border-color: #FF0044;
}

.mkt-page-gift-cards .text-input.-error .field-element {
    color: #FF99B4;
    background-color: #FFF0F0;
}

.mkt-page-gift-cards .text-input.-error .field-icon {
    color: #FF0044;
}

.mkt-page-gift-cards .btn {
    font-size: inherit;
    line-height: calc(4em - 2px);
    min-width: 256px;
    border: 1px solid;
    font-weight: 600;
    border-radius: 32px;
    text-align: center;
}

.mkt-page-gift-cards .btn.-primary {
    color: #FFF;
    background-color: #1F87FF;
    border-color: #1F87FF;
}

.mkt-page-gift-cards .btn.-primary:hover {
    background-color: #0061E0;
    border-color: #0061E0;
}

.mkt-page-gift-cards .btn.-primary:focus {
    outline: none;
    box-shadow: 0 0 0 1px #82FAA2;
    border-color: #82FAA2;
}

.mkt-page-gift-cards .btn.-primary:active {
    box-shadow: none;
    background-color: #0041A3;
    border-color: #0041A3;
}

.mkt-page-gift-cards .btn.-primary[disabled] {
    color: #B8DEFF;
    background-color: #F0F8FF;
    border-color: #F0F8FF;
}

.mkt-page-gift-cards .btn.-white {
    color: #1F87FF;
    background-color: #FFF;
    border-color: #FFF;
}

.mkt-page-gift-cards .btn.-white:hover,
.mkt-page-gift-cards .btn.-white:focus {
    color: #0061E0;
    background-color: #F0F8FF;
    border-color: #F0F8FF;
}

.mkt-page-gift-cards .btn.-white:active {
    box-shadow: none;
    color: #0061E0;
    background-color: #E0F1FF;
    border-color: #E0F1FF;
}

.mkt-page-gift-cards .btn.-ghost {
    color: #FFF;
    border-color: rgba(255, 255, 255, 0.48);
}

.mkt-page-gift-cards .btn.-ghost:hover,
.mkt-page-gift-cards .btn.-ghost:focus {
    border-color: white;
}

.mkt-page-gift-cards .btn.-ghost:active {
    box-shadow: none;
    color: #0061E0;
    background-color: #E0F1FF;
    border-color: #E0F1FF;
}

.mkt-page-gift-cards .btn.-large {
    font-size: 14px;
    line-height: 46px;
}

.mkt-page-gift-cards section.cta-bottom::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #FFF;
    -webkit-clip-path: ellipse(100% 100% at 50% 0%);
    clip-path: ellipse(100% 100% at 50% 0%);
}

.mkt-page-gift-cards section.cta-bottom svg.bubbles {
    margin-top: 35px;
}

.mkt-page-gift-cards section.cta-bottom svg.bubbles path {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    transform-box: fill-box;
    -webkit-animation: cta-bottom-bubbles 2s infinite ease alternate;
    animation: cta-bottom-bubbles 2s infinite ease alternate;
}

.mkt-page-gift-cards section.cta-bottom svg.bubbles path:nth-child(1) {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.mkt-page-gift-cards section.cta-bottom svg.bubbles path:nth-child(2) {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.mkt-page-gift-cards section.cta-bottom svg.bubbles path:nth-child(3) {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

.mkt-page-gift-cards section.cta-bottom svg.bubbles path:nth-child(4) {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}

.mkt-page-gift-cards section.cta-bottom svg.bubbles path:nth-child(5) {
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}

.mkt-page-gift-cards section.cta-bottom svg.bubbles path:nth-child(6) {
    -webkit-animation-delay: 6s;
    animation-delay: 6s;
}

.mkt-page-gift-cards section.cta-bottom svg.bubbles path:nth-child(7) {
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
}

.mkt-page-gift-cards section.cta-bottom header {
    padding-top: 40px;
}

@-webkit-keyframes cta-bottom-bubbles {
    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes cta-bottom-bubbles {
    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.mkt-page-gift-cards section.hero {
    position: relative;
    padding-top: 56px;
    padding-bottom: 0;
    margin-bottom: 60px;
    background-image: url("../images/confetti.svg"), linear-gradient(0deg, #3385FF 7.29%, #004CBE 82.95%);
    background-position: top center;
    background-repeat: repeat-x, no-repeat;
}

.mkt-page-gift-cards section.hero::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -1px;
    height: 17.35%;
    background: linear-gradient(#D6ECFF 0%, #FFFFFF 40%);
    -webkit-clip-path: ellipse(200% 100% at 50% 100%);
    clip-path: ellipse(200% 100% at 50% 100%);
}

.mkt-page-gift-cards section.hero > .wrapper {
    position: relative;
}

.mkt-page-gift-cards section.features {
    padding-bottom: 68px;
}

@media (min-width: 52em) {
    .mkt-page-gift-cards section.features {
        padding-bottom: 0;
    }
}

.mkt-page-gift-cards section.companies {
    max-width: 1120px;
    margin: 0 auto;
}

@media (min-width: 40em) {
    .mkt-page-gift-cards section.companies .card-col {
        padding: 0 8% 0 0;
    }
}

@media (min-width: 52em) {
    .mkt-page-gift-cards section.companies .card-col {
        padding: 0 8% 0 4%;
    }
}

.mkt-page-gift-cards section.companies .card-desc-col {
    text-align: center;
}

@media (min-width: 40em) {
    .mkt-page-gift-cards section.companies .card-desc-col {
        text-align: left;
    }
}

.mkt-page-gift-cards section.companies .gift-cards {
    padding-top: 28px;
}

@media (min-width: 52em) {
    .mkt-page-gift-cards section.companies .gift-cards {
        padding-top: 128px;
    }
}

.mkt-page-gift-cards section.companies .gift-cards article {
    padding-bottom: 120px;
}

.mkt-page-gift-cards section.companies .gift-cards article:last-child {
    padding-bottom: 0;
}

.mkt-page-gift-cards section.companies .gift-cards .gift-card {
    position: relative;
    max-width: 368px;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    background-image: linear-gradient(154.26deg, #145ECC 0%, #66A3FF 100%);
    box-shadow: 0px 16px 32px rgba(24, 25, 26, 0.16);
}

@media (min-width: 40em) {
    .mkt-page-gift-cards section.companies .gift-cards .gift-card {
        margin-left: initial;
        margin-right: initial;
    }
}

.mkt-page-gift-cards section.companies .gift-cards .gift-card.triplebyte-card {
    background-image: linear-gradient(154.37deg, #1F657E 0%, #005E81 100%);
}

.mkt-page-gift-cards section.companies .gift-cards .gift-card.digital-ocean-card {
    background-image: linear-gradient(154.37deg, #0080FF 0%, #0069D1 100%);
}

.mkt-page-gift-cards section.companies .gift-cards .gift-card.airbnb-card {
    background-image: linear-gradient(154.37deg, #FF575A 0%, #E33235 100%);
}

.mkt-page-gift-cards section.companies .gift-cards .gift-card.indeed-card {
    background-image: linear-gradient(295.99deg, #2062F3 1.05%, #0B41B5 100%);
}

.mkt-page-gift-cards section.companies .gift-cards .gift-card-avatar {
    text-align: center;
    margin: -12% auto -10%;
}

@media (min-width: 40em) {
    .mkt-page-gift-cards section.companies .gift-cards .gift-card-avatar {
        margin: -15% auto -10%;
    }
    .mkt-page-gift-cards section.companies .gift-cards .gift-card-avatar > img {
        width: auto;
    }
}

.mkt-page-gift-cards section.companies .gift-cards .gift-card-text {
    display: flex;
    align-items: flex-end;
    padding: 22px 24px 22px 0;
    text-align: right;
}

.mkt-page-gift-cards section.companies .gift-cards .gift-card-svg {
    display: block;
    border-radius: 0 0 8px 8px;
}

.mkt-page-gift-cards section.companies .gift-cards .gift-card-amount {
    position: absolute;
    right: 1.75em;
    bottom: 1.25em;
}

.mkt-page-gift-cards section.companies .gift-cards .gift-card-amount sup {
    vertical-align: super;
}

.mkt-page-gift-cards section.faq {
    padding-bottom: 0;
}

@media (min-width: 52em) {
    .mkt-page-gift-cards section.faq {
        padding-bottom: 80px;
    }
}

.mkt-page-gift-cards section.faq header {
    padding-bottom: 20px;
}

@media (min-width: 52em) {
    .mkt-page-gift-cards section.faq header {
        text-align: center;
        padding-bottom: 60px;
    }
}

.mkt-page-gift-cards section.faq hr {
    border-color: #DCDEE0;
    margin: 14px 0 30px;
}

@media (min-width: 52em) {
    .mkt-page-gift-cards .form-col {
        padding-top: 45px;
        padding-left: 80px;
    }
}

.mkt-page-gift-cards .form-wrapper {
    position: relative;
    margin-top: 45px;
    padding: 40px 32px;
    border: 1px solid rgba(20, 20, 20, 0.08);
    border-radius: 8px;
    background-color: #FFF;
    box-shadow: 0px 1px 4px rgba(26, 27, 31, 0.16);
}

.mkt-page-gift-cards .form-wrapper .gift-card-wrapper {
    max-width: 288px;
    margin: -86px auto 38px;
}

.mkt-page-gift-cards .form-wrapper .gift-card {
    overflow: hidden;
    border-radius: 8px;
    background: linear-gradient(154.26deg, #145ECC 0%, #66A3FF 100%);
    box-shadow: 0px 16px 32px rgba(24, 25, 26, 0.16);
}

.mkt-page-gift-cards .form-wrapper .gift-card-text {
    padding: 22px 24px 11px;
}

.mkt-page-gift-cards .form-wrapper .gift-card-svg {
    display: block;
}

.mkt-page-gift-cards .mobile-show {
    display: none;
}

.mkt-page-gift-cards .mobile-hide {
    display: initial;
}

@media (max-width: 48em) {
    .mkt-page-gift-cards .mobile-show {
        display: initial;
    }
    .mkt-page-gift-cards .mobile-hide {
        display: none;
    }
}

.mkt-page-gift-cards details summary {
    outline: none;
    cursor: pointer;
}

.mkt-page-gift-cards details summary::-webkit-details-marker {
    display: none;
}

.mkt-page-gift-cards details summary > svg {
    color: #9D9FA3;
    margin-left: 20px;
}

.mkt-page-gift-cards details .closed-icon {
    opacity: 1;
}

.mkt-page-gift-cards details .open-icon {
    opacity: 0;
}

.mkt-page-gift-cards details[open] .closed-icon {
    opacity: 0;
}

.mkt-page-gift-cards details[open] .open-icon {
    opacity: 1;
}

.mkt-page-gift-cards .w100 {
    width: 100%;
}

.mkt-page-gift-cards .cta-bottom {
    background: radial-gradient(528px at 50% 0%, #3385FF 0%, #004DC1 100%);
    padding-bottom: 32px;
}

@media (min-width: 52em) {
    .mkt-page-gift-cards .cta-bottom {
        padding-bottom: 100px;
    }
}

.mkt-page-gift-cards .cta-bottom header {
    padding-bottom: 39px;
}

@media (min-width: 52em) {
    .mkt-page-gift-cards .cta-bottom header {
        padding-bottom: 64px;
    }
}
