Subject: Updated Terms of Service and Privacy Policy

{{> header}}

{{#if recipient.firstName}}
<p>Dear {{recipient.firstName}},</p>
{{else}}
<p>Hi!</p>
{{/if}}

<p>Just a brief (but important) note to share our updated <a href="https://opencollective.com/tos?{{utm}}">Terms of Service</a> and <a href="https://opencollective.com/privacypolicy?{{utm}}">Privacy Policy</a>.</p>

<p>Transparency is a core value of Open Collective. And legal documents (with legalese) are often opposite of transparent - they are hard to parse and hard to follow, unless you are a lawyer. We have tried our best to draft them in plain terms and added clarifications wherever we felt it was necessary.</p>

<p>Please read both documents carefully and if you have questions or suggestions, please don’t hesitate to contact us (hello@opencollective.com) or comment on this <a href="https://github.com/OpenCollective/OpenCollective/issues/322">Github issue</a>. Open Collective is a community and the rules that organize it are always open to a conversation. </p>

<p>With ❤️,</p>

<p>– Open Collective Team</p>


{{> footer}}