Subject: Tweaking fees on Open Collective

{{> header}}

{{#if recipient.firstName}}
<p>Dear {{recipient.firstName}},</p>
{{else}}
<p>Hi!</p>
{{/if}}

<p>Since you are a Core Contributor of a collective, we wanted to let you know about a small but important change to record PayPal transaction fees on Open Collective.</p>

<p><strong>TL;DR.</strong> Going forward, PayPal fees (2.9% + $0.30) will be added to expenses that are paid through Open Collective. So, if you approve an expense for $100, we'll deduct $103.20 from your collective and reflect that on your ledger. No action is required on your part.</p>

<p><strong>Long version</strong></p>

<p>Open Collective uses PayPal to pay out expenses. Like every other payment processor, PayPal charges a fee per transaction — typically 2.9% + $0.30. So, if a user submits an expense for $100, when a host reimburses that expense, PayPal pays that user $100 but charges the host of the collective $103.20.</p>

<p>Typically, a host pays this fee to PayPal when they reimburse an expense and we reimburse the host later (and the host pays us $10/month/collective). This was fine when we started, when our volume was low but lately calculating these fees, crediting it back to the hosts and counting against their $10/month/collective cost was becoming an accounting mess for us and for them. It adds unpredictability to a host’s cash flow and sometimes creates a perverse incentive for them to discourage their collectives from filing expenses altogether.</p>

<p> Building a platform often requires tweaking knobs to create a virtuous cycle that serves everyone. We think these small fees are one of those knobs that is holding back our hosts from fully adopting and benefiting from the platform.</p>

<p>So, going forward, we’ll be adding these fees to the expenses that are paid out and charging the collective directly. In the example above, when that $100 expense is approved, the collective will be charged $103.20 and it’ll be reflected in its public ledger.</p>

<p> With this simplification, we no longer need to charge hosts a monthly $10 for each collective. Our fee structure is purely based on amount you raise. Create as many collectives as you like and we succeed only if our collectives and hosts succeed.</p>

<p>We know that this change will reduce the amount of money available to a collective. It isn’t ideal. We are exploring other alternatives like ACH payments (that have much lower fees). Stay tuned for updates.</p>

<p>For any questions, just hit 'reply' and ask.

<p>Warmly,</p>

<p>
  – Open Collective
</p>

{{> footer}}