Subject: 🎉 Your Collective has been approved by your host! 

{{> header}}

<h1>Hey {{collective.name}} 👋</h1>

<p>Your collective has been approved by your host (<a href="https://opencollective.com/{{host.slug}}">{{host.name}}</a>)!</p>

<p>You can now collect money for your collective without having to worry about accounting, invoicing, etc.!</p>

<p>Don't forget to customize your tiers to offer multiple ways for people to contribute. And go chase the first 10 backers. Once you reach that milestone, we will promote your collective on our network!</p>

<p>Let us know if you need any help setting things up, we are here to help your collective succeed.</p>

<p>
  <center>
    <a href="https://opencollective.com/{{collective.slug}}" class="btn blue"><div>Get Started!</div></a>
  </center>
</p>

<p>Feel free to schedule a call (<a href="http://calendly.com/piamancini/call">calendly.com/piamancini/call</a>), email me or <a href="https://slack.opencollective.com">join us on our Slack</a>. We would love to know your story.</p>

<p>Best,</p>

<p>Pía, and the Open Collective Team</p>

{{> footer}}