Subject: Getting started with Open Collective

{{> header}}

<h1>Hey {{collective.name}} 👋</h1>

<p>To help you get up and running. We’ll
  email you a few tips over the next week, then leave you to it—but you’re welcome to ask us questions any time!</p>

<p>Our top advice: Get your first backers now! Reach out ask your community to give you an initial boost. Share your
  Collective on social media and your blog, or raise an issue. And don’t be afraid of contacting potential sponsors,
  especially companies who already use your project.

  <p>Some helpful info:</p>

  <ul>
    <li>Guide: <a
        href="https://blog.opencollective.com/ten-steps-to-successful-open-source-crowdfunding/">Ten
        Steps to Successful Open Source Crowdfunding</a></li>
    <li>Check out success stories on <a href="https://blog.opencollective.com/">our blog</a>, like <a
        href="https://blog.opencollective.com/funding-open-source-how-webpack-reached-400k-year/">Webpack</a>
      and <a
        href="https://blog.opencollective.com/jhipsters-bounty-system-and-how-it-saved-the-project/">Jhipster</a>
    </li>
    <li>Here’s <a href="http://docs.opencollective.com">our documentation</a>, including <a
        href="https://docs.opencollective.com/help/collectives/quick-start-guide">a quick start guide</a></li>
  </ul>

  <p>Feel free to reach out by replying to this email, or <a href="https://slack.opencollective.com">join our
      Slack</a>. We’re glad to have you with us!</p>

  <p>Best,</p>

  <p>The Open Collective Team</p>

  {{> footer}}
