Subject: Getting started with Open Collective

{{> header}}

<h1>Hey {{collective.name}} 👋</h1>

<p>To help you get up and running. We’ll
  email you a few tips over the next week, then leave you to it but you’re welcome to ask us questions any time!</p>

<p>Our top advice: Get your first backers now! Reach out ask your community to give you an initial boost. Share your Collective on social media and your blog, or raise an issue. 
And don’t be afraid of contacting potential financial contributors, especially companies who already use your project.</p>

  <p>Some helpful info:</p>

  <ul>
   Some helpful info:

<ul>

<li><a href="https://blog.opencollective.com/tag/how-to/">How To Guides</a></li> 
<li>Check out some <a href="https://blog.opencollective.com/tag/case-studies/">success stories on our blog</a></li> 
<li>Here’s our <a href="https://docs.opencollective.com">documentation</a>, including a <a href="https://docs.opencollective.com/help/collectives/quick-start-guide">quick start guide</a></li>
 </ul>

  <p>Feel free to reach out by replying to this email, or <a href="https://slack.opencollective.com">join our
      Slack</a>. We’re glad to have you with us!</p>

  <p>Best,</p>

  <p>The Open Collective Team</p>

  {{> footer}}
