Subject: New comment on {{target.name}} by {{fromCollective.name}}

{{> header}}

{{comment.html}}


<p>
  <center>
    <a href="https://opencollective.com{{comment.path}}" class="btn blue"><div>View thread online</div></a>
  </center>
</p>


{{> footer}}