Subject: Please confirm the creation of your {{collective.name}} collective

{{> header}}

<style>
.btn {
  background: #dde1e4;
  background-color: #80d823;
  border: 1px solid transparent;
  border-radius: 28px;
  display: inline-block;
  padding: .75rem 1rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  min-width: 150px;
  box-sizing: border-box;
  vertical-align: middle;
}

.btn a {
  color: #fff;
  text-decoration: none;
}
</style>

<center>
  <h1>Almost done!</h1>
  <p>We just need you to confirm that you wish to create a collective for {{collective.name}}. We will then review your application and get in touch shortly if we have any questions.</p>
  <div class="btn"><a href="{{confirmation_url}}">Confirm</a></div>
</center>

<div itemscope itemtype="http://schema.org/EmailMessage">
  <div itemprop="potentialAction" itemscope itemtype="http://schema.org/ViewAction">
    <link itemprop="url" content="{{loginLink}}"/>
    <meta itemprop="name" content="confirm"/>
  </div>
  <meta itemprop="description" content="Confirm the creation of your collective"/>
</div>

{{> footer}}