Subject: Welcome to Open Collective!

{{> header}}

<h1>Hey {{collective.name}} 👋</h1>

<p>I’m Pía, one of the founders of Open Collective. I’d love to help you set up and get your collective up and running. Feel free to reach out to me directly by replying to this email. I'm here to help you!</p>

<p>Your collective is pending approval from your host (<a href="https://opencollective.com/{{host.slug}}">{{host.name}}</a>). Your host is the legal entity that will hold the money on behalf of your collective. Once they approve you, you will be able to collect money for your collective without having to worry about accounting, invoicing, etc. If you already have a legal entity that could act as your host, please reach out!</p>

<p>In the meantime, you can already customize your collective page, submit expenses, organize events (with free tickets), post updates and add members.</p>
<p> Don't forget to check our <a href="https://docs.opencollective.com/help/collectives/customize-collective">docs</a> to make the most from our customization options.</p>

<p>Let us know if you need any help setting things up, we are here to help your collective succeed.</p>

<p>
  <center>
    <a href="https://opencollective.com/{{collective.slug}}" class="btn blue"><div>Get Started!</div></a>
  </center>
</p>

<p>Feel free to schedule a call (<a href="http://calendly.com/piamancini/call">calendly.com/piamancini/call</a>), email me or <a href="https://slack.opencollective.com">join us on our Slack</a>. We would love to know your story.</p>

<p>Best,</p>

<p>Pía, and the Open Collective Team</p>

{{> footer}}
