Subject: Your Open Collective is on its way...

{{> header}}

{{#if name}}
<p>Dear {{name}},</p>
{{else}}
<p>Hi!</p>
{{/if}}

<p> Thanks for signing up your GitHub repository: {{group.name}}. We are reviewing new requests as fast as we can. </p>

<p>While you wait, check out other <a href="https://opencollective.com/opensource">open source collectives</a> and see how they are spending the money they have raised.</p>

<p>Stay tuned for updates.</p>

<p>Warmly,</p>

<p>
  – Team Open Collective
</p>

{{> footer}}
