Subject: Give visibility to your backers and sponsors

{{> header}}

<h1>Hey {{collective.name}} 👋</h1>

<p>Did you know that we offer widgets to automatically show your backers and sponsors on your website? It's a great way to thank them for their financial contribution. It will also incentivize others to contribute as well!</p>

<p>Go to the settings of your collective in the "export" tab: <a href="https://opencollective.com/{{collective.slug}}/edit#export">https://opencollective.com/{{collective.slug}}/edit#export</a></p>

<p>And here are some examples: <a href="http://apex.run/#links">Apex</a>, <a href="https://www.spinacms.com">SpinaCMS</a>, <a href="https://webpack.js.org">Webpack</a> (using our API). You can also add a Donate Button or a widget to automatically show your events!</p>

<p>Let us know if you need any help setting things up, we are here to help your collective succeed.</p>

<p>Feel free to schedule a call (<a href="http://calendly.com/piamancini/call">calendly.com/piamancini/call</a>), email me or <a href="https://slack.opencollective.com">join us on our Slack</a>. We would love to know your story.</p>

<p>Best,</p>

<p>Pia, and the Open Collective Team</p>

{{> footer}}