Subject: Oops! Please ignore previous email

{{> header}}

<p>The previous email was supposed to go to the collectives that are not active.
Sorry about that!</p>

<p>Regardless, feel free to get in touch and schedule a call (<a href="http://calendly.com/piamancini/call">calendly.com/piamancini/call</a>), email me or <a href="https://slack.opencollective.com">join us on our Slack</a>. We would love to know your story and help your collective!</p>

<p>Best,</p>

<p>Pia, and the Open Collective Team</p>


{{> footer}}