Subject: Keep your backers up to date with your progress

{{> header}}

<h1>Hey {{collective.name}} 👋</h1>

<p>Did you know that you can post updates on your  <a href="https://opencollective.com/{{collective.slug}}">Open Collective page</a>?</p>

<p>Updates are great to keep your backers engaged. Share with them your progress, achievements, and all the things that you can do thanks to their support.</p>

<p>
  <center>
    <a href="https://opencollective.com/{{collective.slug}}/updates/new" class="btn blue"><div>Post an Update</div></a>
  </center>
</p>

<p>Let us know if you need any help setting things up, we are here to help your collective succeed.</p>

<p>Feel free to schedule a call (<a href="http://calendly.com/piamancini/call">calendly.com/piamancini/call</a>), email me or <a href="https://slack.opencollective.com">join us on our Slack</a>. We would love to know your story.</p>

<p>Best,</p>

<p>Pía, and the Open Collective Team</p>

{{> footer}}