Subject: Welcome! - some quick advice from our team

{{> header}}

<h1>Hey {{collective.name}} 👋</h1>

<p>I’m Pía, one of the founders of Open Collective. I’d love to help you set up and get your collective up and running.
  Feel free to reach out to me directly by replying to this email. I'm here to help you!</p>

<p>Our main piece of advice is this: get your first contributors now! Reach out to your friends & family for them to
  give you that first boost, even if it’s just for a couple of months. Having those first backers makes a big
  difference, don’t be shy!</p>

<p>If you have any questions, have a look at our documentation and help website on <a href="https://docs.opencollective.com.">https://docs.opencollective.com</a>.
  We have also published this helpful guide on our blog: <a href="https://blog.opencollective.com/ten-steps-to-successful-open-source-crowdfunding/">Ten
    Steps to Successful Open Source Crowdfunding</a></p>

<p>Let us know if you need any help setting things up, we are here to help your collective succeed.</p>

<p>
  <center>
    <a href="https://opencollective.com/{{collective.slug}}" class="btn blue">
      <div>Get Started!</div>
    </a>
  </center>
</p>

<p>Feel free to schedule a call (<a href="http://calendly.com/piamancini/call">calendly.com/piamancini/call</a>), email
  me or <a href="https://slack.opencollective.com">join us on our Slack</a>. We would love to know your story.</p>

<p>Best,</p>

<p>Pía, and the Open Collective Team</p>

{{> footer}}
