Subject: More revenue streams for your Collective

{{> header}}

<h1>Hi {{collective.name}}</h1>

Have you customized your Collective’s contribution tiers yet?

<p>Think about offers or rewards you to entice backers and sponsors. Some Collective offer support hours (like <a
    href="https://opencollective.com/babel">Babel</a>), influence on roadmap prioritization, or other perks.</p>

<p>Did you know we also offer a range of other creative ways to fundraise?</p>

<ul>
<li><a href="https://docs.opencollective.com/help/collectives/events">Events</a>: Ticket sales revenue is automatically added to your Collective budget</li>
<li><a href="https://docs.opencollective.com/help/collectives/funding-options#ethical-advertising">Ethical advertising</a>: Your community could be an audience companies want to reach</li>
<li><a href="https://docs.opencollective.com/help/collectives/funding-options#swag-shop">T-shirts & swag</a>: Set up a shop and put the sales revenue into your Collective</li>
<li><a href="https://docs.opencollective.com/help/collectives/funding-options#sponsored-bounties">Sponsored bounties</a>: companies pay for specific issues they want completed</li>
</ul>

<p>Find out more about different <a href="https://docs.opencollective.com/help/collectives/funding-options">Funding
    Options</a>.</p>

<p>We’re always open to new ideas! If you have an alternative revenue stream you want to connect to your Collective, get
  in touch.</p>

<p>
  <center>
    <a href="https://opencollective.com/{{collective.slug}}/edit#tiers" class="btn blue">
      <div>Edit Tiers Now</div>
    </a>
  </center>
</p>

{{> footer}}
