Subject: Engage your community on Open Collective

{{> header}}

<h1>Hello {{collective.name}} 👋</h1>

<p>Did you know we offer some neat features to better engage with and show gratitude to your community? </p>

 <ul>
  <li> <a href="https://docs.opencollective.com/help/collectives/communication">Send Updates</a>: Let your financial contributors know what their support is enabling. Updates go out as an email and also automatically show on your Collective page.</li>
  <li> <a href="https://docs.opencollective.com/help/collectives/conversations">Start a conversation</a>: They are public threads that everyone can read and participate to. Use them to get feedback from your community or to organize your actions!</li> 
  <li> <a href="https://docs.opencollective.com/help/collectives/integrations#twitter-integration">Connect Twitter</a>: Automatically send thank you Tweets to new financial contributors, and announce your Collective’s monthly stats.</li>
  <li> <a href=:https://docs.opencollective.com/help/collectives/integrations#zapier-integration"> Zapier App</a>: The best choice whenever you need to integrate Open Collective with a third party service.</li>
  <li> <a href="https://docs.opencollective.com/help/collectives/widgets">Website widgets</a>: Show gratitude to your sponsors by displaying them on your website. You can add a ‘donate’ button, too.</li>
  <li> <a href="https://github.com/opencollective/opencollective-bot">Open Collective bot</a>: Automate interactions on Github repositories linked back to your Collective, such as prioritizing issues raised by your backers and sponsors.</li>
</ul>

<p>Let us know if there’s anything we can do to help.</p>


{{> footer}}
