Subject: Make your Expenses transparent to your community

{{> header}}

<h1>Hello {{collective.name}}</h1>

<p>I noticed that you haven't filed any expenses yet. My suggestion: be open about your costs. </p>

<p>You don’t have to wait until you have funds. Go ahead and submit expenses now, to let potential backers know what
  they'll be funding. Transparency builds trust.</p>

<p>Some common expenses include: travel to conferences, hosting & domain name fees, printing t-shirts & stickers, food
  for meetups, and invoicing for time spent. </p>

<p>If you’re looking for more expense ideas, read this: <a
    href="https://blog.opencollective.com/has-your-open-source-community-raised-money-heres-how-to-spend-it/">Has
    Your Open Source Community Raised Money? Here’s How to Spend
    It</a>.</p>

<p>Key info:</p>
<ul>
  <li>When you submit an expense, you’ll need to include an invoice or receipt</li>
  <li>Expenses are paid only after they’re approved by a Core Contributor</li>
  <li>The Open Source Collective pays out expenses once a week on Thursdays</li>
  <li>If you don’t have enough funds yet, the expense will be paid once you do</li>
</ul>

<p>See our <a href="https://docs.opencollective.com/help/expenses-and-getting-paid/submitting-expenses">expenses documentation</a> for everything you need to
  know.</p>


<p>
  <center>
    <a href="https://opencollective.com/{{collective.slug}}/expenses/new" class="btn blue">
      <div>Submit an expense Now</div>
    </a>
  </center>
</p>

{{> footer}}
