Subject: Help us improve the Sponsor experience

{{> header}}

<h1>Hello {{collective.name}} 👋</h1>

<p>Hi! Thanks again for signing up your Organization to Open Collective.</p>

<p>We’re seeking to improve the sponsor experience, and we have a few questions for you:</p>
<ol>
  <li>Are there any projects you want to sponsor who aren’t on Open Collective yet? Let us know and we’ll help them get
    set up</li>
  <li>Is there a reward or service a Collective could offer that would provide you more value or make budget
    justification easier?</li>
  <li>Is there anything else about the Organization or Sponsorship experience we could improve</li>
</ol>
<p>Thank you for any feedback you can provide! Let us know if there’s anything we can do to help.</p>

{{> footer}}