Subject: It's all about transparency

{{> header}}

<h1>Hey {{collective.name}} 👋</h1>

<p>I noticed that you haven't filed any expense yet.</p>

<p>At Open Collective we believe that collaborating transparently is the key for a project to succeed. Be open about your costs. Don’t wait until you have a budget in place, go ahead and <a href="https://opencollective.com/{{collective.slug}}/expenses/new">submit expenses</a> to let potential backers know what they're helping fund!</p>

<p>Let us know if you need any help setting things up, we are here to help your collective succeed.</p>

<p>Feel free to schedule a call (<a href="http://calendly.com/piamancini/call">calendly.com/piamancini/call</a>), email me or <a href="https://slack.opencollective.com">join us on our Slack</a>. We would love to know your story.</p>

<p>Best,</p>

<p>Pia, and the Open Collective Team</p>

{{> footer}}