Subject: Connect a Twitter account to your Collective

{{> header}}

<h1>Hey {{collective.name}} 👋</h1>

<p>Did you know that you can connect your twitter account to your Open Collective?</p>

<p>You can opt in to automatically send a thank you tweet to all your new backers (as a @reply or publicly) like this one:</p>

<p>
  <center>
    <a href="https://twitter.com/ErxesHQ/status/962682839430062080"><img src="https://d.pr/free/i/V9Ykl1+" width="320" /></a>
  </center>
</p>

<p>And you can also opt in to automatically send a tweet every first of the month with your monthly stats:</p>

<p>
  <center>
    <a href="https://twitter.com/rootswp/status/960958572669652992"><img src="https://d.pr/free/i/HVw6Mj+" width="320" /></a>
  </center>
</p>

<p>
  <center>
    <a href="https://opencollective.com/{{collective.slug}}/edit/connected-accounts" class="btn blue"><div>Connect your Twitter Account</div></a>
  </center>
</p>

<p>Let us know if you need any help setting things up, we are here to help your collective succeed!</p>

<p>Feel free to schedule a call (<a href="http://calendly.com/piamancini/call">calendly.com/piamancini/call</a>), email me or <a href="https://slack.opencollective.com">join us on our Slack</a>. We would love to know your story.</p>

<p>Best,</p>

<p>Pía, and the Open Collective Team</p>

{{> footer}}
