Subject: How can I help your collective?

{{> header}}

<h1>Hey {{collective.name}} 👋</h1>

<p>We noticed that you created a collective a while ago and we were wondering if you’d like help setting it up.</p>

<p>Starting a project is not easy and we understand it can be overwhelming to manage it.</p>

<p>We believe that collaborating in a transparent environment is the key to make your community sustainable. Check out <a href="https://blog.opencollective.com/tag/case-studies/">other collectives' stories</a>. Did you know that you can reach out them through the contact button on their collective page? They might be able to share their insights!</p>

<p>Let us know if you need any help setting things up, we are here to help your collective succeed.</p>

<p>Feel free to schedule a call (<a href="http://calendly.com/piamancini/call">calendly.com/piamancini/call</a>), email me or <a href="https://slack.opencollective.com">join us on our Slack</a>. We would love to know your story.</p>

<p>Best,</p>

<p>Pía, and the Open Collective Team</p>

{{> footer}}
