Subject: Keep your community in the know. 

{{> header}}

<h1>Hey {{collective.name}} 👋</h1>

<p>I noticed that you haven't published any update yet.</p> 

<p>At Open Collective we believe that engaging your community is the key to make your collective sustainable. Share regularly updates about your progress, your activities but also the difficulties that you are facing. Your community wants to know how things are going. Don't leave them in the dark. Go ahead and <a href="https://opencollective.com/{{collective.slug}}/updates/new">publish an update</a>.</p>

<p> Check out our documentation on <a href="https://docs.opencollective.com/help/collectives/communication">Updates and Communication</a>. Let us know if you need any help setting things up. We are here to help your collective succeed.</p>

<p>Best,</p>

<p>Pía, and the Open Collective Team</p>

{{> footer}}
