Subject: Happy month anniversary!

{{> header}}

<h1>🎂 {{collective.name}} 🎉</h1>

<p>One month that you are on Open Collective!</p>

<p>How are things going? We would love to know your story, get your feedback so far and help your collective! Schedule a call (<a href="http://calendly.com/piamancini/call">calendly.com/piamancini/call</a>), email me or <a href="https://slack.opencollective.com">join us on our Slack</a>. </p>

<p>Best,</p>

<p>Pía, and the Open Collective Team</p>


{{> footer}}