Subject: OpenCollective: Login

{{> header}}

<style>
.btn {
  background: #dde1e4;
  background-color: #80d823;
  border: 1px solid transparent;
  border-radius: 28px;
  display: inline-block;
  padding: .75rem 1rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  min-width: 150px;
  box-sizing: border-box;
  vertical-align: middle;
}

.btn a {
  color: #fff;
  text-decoration: none;
}
</style>

<center>
  <h2>Login to opencollective.com</h2>
  <p>
    <div class="btn"><a href="{{loginLink}}">One-click login</a></div>
  </p>
</center>

<div itemscope itemtype="http://schema.org/EmailMessage">
  <div itemprop="potentialAction" itemscope itemtype="http://schema.org/ViewAction">
    <link itemprop="url" content="{{loginLink}}"/>
    <meta itemprop="name" content="login"/>
  </div>
  <meta itemprop="description" content="Login to opencollective.com"/>
</div>

{{> footer}}