Subject: OpenCollective: Subscriptions link

{{> header}}

<center>
  <h2>Subscription link</h2>
  <p>
    You check your subscriptions  <a href="{{subscriptionsLink}}">here</a>.
  </p>
</center>

{{> footer}}