Subject: OpenCollective: Reset password link

{{> header}}

<center>
  <h2>Reset password link</h2>
  <div>Click on the following link and reset your password on our website. This link will only work for 24 hours.</div>

  <a href="{{resetUrl}}" data-token="{{resetToken}}">
    {{resetUrl}}
  </a>

</center>

{{> footer}}