.ActionBar {
  display: flex;
  flex-direction: row;
  box-shadow: 0px 2px 4px rgba(0,0,0,.1);
}

.ActionBar .info {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #797D80;
  font-size: 1.2rem;
  height: 60px;
  border-right: 1px solid #E6E6E6;
}

.ActionBar .buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 60px;
}

.ActionBar .buttons button {
  border: 1px solid transparent;
  border-right: 1px solid;
}

.ActionBar .buttons button:first-of-type {
  border-right: 1px solid #E6E6E6;
}

@media(max-width: 600px) {
  .ActionBar {
    flex-direction: column;
  }
  .ActionBar .info {
    border-bottom: 1px solid #E6E6E6;
    border-right: none;
  }
}