.ActionBar {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 60px;
  box-shadow: 0px 2px 4px rgba(0,0,0,.1);
}

.button {
  border: 1px solid transparent;
  border-right: 1px solid;
}

.button:frst-of-type {
  border-left: 1px solid;
}