body {
  font-family: 'montserratlight';
  font-weight: 400;
}
@font-face {
  font-family: 'montserratlight';
  src: url('../fonts/montserrat/montserrat-light-webfont.eot');
  src: url('../fonts/montserrat/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat/montserrat-light-webfont.woff2') format('woff2'),
    url('../fonts/montserrat/montserrat-light-webfont.woff') format('woff'),
    url('../fonts/montserrat/montserrat-light-webfont.ttf') format('truetype'),
    url('../fonts/montserrat/montserrat-light-webfont.svg#montserratlight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'lato';
  src: url('../fonts/montserrat/lato-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.EventPage {
  position: relative;
}

a {
  text-decoration: none;
}

section {
  margin: 60px 0px;
}

h1 {
  text-align: center;
  margin: 40px 0px 20px;
  font-family: 'montserratlight';
  font-size: 20px;
  font-weight: bold;
}

.content {
    max-width: 960px;
    padding: 5px;
    margin: 0 auto;
}

.eventDescription {
    margin: 1rem;
}

.getTicketForm {
  margin: 20px auto;
  max-width: 400px;
}

.map {
  border: 1px solid #eee;
  height: 300px;
}

.tier {
  margin: 40px auto;
}

.location {
  text-align: center;
}

.location .description {
    margin: 30px 10px;
};

.location .name {
  font-size: 16px;
  font-family: 'montserratlight';
  margin: 5px 0px;
};

.location .address {
  font-family: 'lato';
}