.NotFound .logo {
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
}

.NotFound .logo img {
  width: 90%;
  max-width: 200px;
}

.NotFound .shrug {
  font-size: 3.6rem;
  text-align: center;
  color: #46B0ED;
}