.Response {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 10px;
  max-width: 300px;
  float: left;
}
 
.Response img {
  float: left;
  width: 45px;
  border-radius: 50%;
}

.bubble {
    padding: 10px;
}

.name {
    font-family: 'montserratlight';
    font-size: 1.7rem;
}

.description {
  font-family: 'lato';
  font-size: 1.4rem;
}