
.TicketsConfirmed .TitleBar {
  position: absolute;
  top: 0;
  font-size: 1.8rem;
  line-height: 40px;
  height: 40px;
  color: white;
  background: rgba(50,50,50,0.9);
  width: 100%;
  font-family: 'montserratlight';
  text-align: center;
  z-index: 100;
}

.TicketsConfirmed .text {
  position: absolute;
  bottom: 2rem;
}

.TicketsConfirmed p {
  text-align: center;
}

.TicketsConfirmed > .content {
  background: url('../images/boom.svg') no-repeat center -75px;
}

.TicketsConfirmed #ticket {
  margin: 0 auto;
  width: 345px;
  height: 145px;
  max-width: 100%;
  border: 40px solid white;
  border-image: url("https://cl.ly/2z3y0i461i1A/tickets.svg") 40;
  position: relative;
}


.TicketsConfirmed #ticket .topbar {
  margin-top: -2rem;
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  text-transform: uppercase;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
}

.TicketsConfirmed #ticket .topbar .numberTickets {
}

.TicketsConfirmed #ticket .content {
  background: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-size: 1.4rem;
}

.TicketsConfirmed .datetime {
  text-align: center;
}

.TicketsConfirmed .location {
  font-size: 1.2rem;
  color: #797D7F;
}
