@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/inter/Inter-Regular.woff2") format("woff2"),
       url("../fonts/inter/Inter-Regular.woff") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/inter/Inter-Italic.woff2") format("woff2"),
       url("../fonts/inter/Inter-Italic.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/inter/Inter-Medium.woff2") format("woff2"),
       url("../fonts/inter/Inter-Medium.woff") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/inter/Inter-MediumItalic.woff2") format("woff2"),
       url("../fonts/inter/Inter-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/inter/Inter-SemiBold.woff2") format("woff2"),
       url("../fonts/inter/Inter-SemiBold.woff") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/inter/Inter-SemiBoldItalic.woff2") format("woff2"),
       url("../fonts/inter/Inter-SemiBoldItalic.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/inter/Inter-Bold.woff2") format("woff2"),
       url("../fonts/inter/Inter-Bold.woff") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/inter/Inter-BoldItalic.woff2") format("woff2"),
       url("../fonts/inter/Inter-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/inter/Inter-ExtraBold.woff2") format("woff2"),
       url("../fonts/inter/Inter-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/inter/Inter-ExtraBoldItalic.woff2") format("woff2"),
       url("../fonts/inter/Inter-ExtraBoldItalic.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/inter/Inter-Black.woff2") format("woff2"),
       url("../fonts/inter/Inter-Black.woff") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/inter/Inter-BlackItalic.woff2") format("woff2"),
       url("../fonts/inter/Inter-BlackItalic.woff") format("woff");
}

html {
  --charcoal-grey-two: #373a3d;
  --charcoal-grey-three: #45484c;
  --main-custom-color: #8f47b3;
  --silver-four: #e1e4e6;
  --cool-grey: #9ea2a6;
  --attention: #e69900;
  --gunmetal: #505559;
  --fade-blue: #97b7f3;

  font-size: 62.5%;
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

a:hover {
  color: #797d80;
}

summary {
  color: #337ab7;
  cursor: pointer;
}

body.showModal {
  overflow: hidden;
}

body.showModal .EventPage {
  filter: blur(3px);
  background: rgba(0, 0, 0, 0.6);
}

body > div:first-child {
  position: relative;
  min-height: 100%;
}

@media (max-width: 600px) {
  html {
    font-size: 55%;
  }
}

#root {
  height: 100%;
}

.EventPage {
  position: relative;
  height: 100%;
}

@media (max-width: 600px) {
  .showModal .EventPage {
    display: none;
  }
}

section {
  margin: 3rem 0px;
}

h1 {
  text-align: center;
  margin: 40px 0px 20px;
  font-size: 4rem;
  letter-spacing: -1.2px;
}

h2,
h3 {
  letter-spacing: -0.4px;
}

.map {
  border: 1px solid #eee;
  height: 300px;
  position: relative;
}

.map-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
}

.row {
  display: flex;
  flex-direction: row;
}

a {
  color: #3385ff;
}

.btn-primary {
  background-color: #3385ff;
  border-color: #3385ff;
}

.clear {
  clear: both;
}

.pullLeft {
  float: left;
}

.pullRight {
  float: right;
}

.hidden {
  display: none;
}

.mobileOnly {
  display: none;
}

.mediumScreenOnly {
  display: none;
}

.desktopOnly {
  display: none;
}

@media (min-width: 1024px) {
  .desktopOnly {
    display: inherit !important;
  }
}

@media (min-width: 420px) and (max-width: 1024px) {
  .mediumScreenOnly {
    display: inherit !important;
  }
}

@media (max-width: 420px) {
  .mobileOnly {
    display: inherit !important;
  }
}

#nprogress .spinner {
  display: none;
}

/** @deprecated These legacy styles from `Body.js` should be removed */
.content {
  max-width: 1260px;
  padding: 2rem 30px;
  margin: 0 auto;
  line-height: 1.5;
  overflow: hidden;
}

@media (max-width: 420px) {
  .content {
    padding: 1rem 1.5rem;
  }
}

.content h3 {
  font-size: 1.7rem;
}

.content p {
  text-overflow: ellipsis;
  margin: 1.5rem 0;
}

/* START: Legacy Bootstrap styles, added for retro-compatibility */
* {
  box-sizing: border-box;
}

body {
  color: #333;
  font-size: 14px;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

label {
  display: inline-block;
  font-weight: 700;
}

.form-control {
  width: 100%;
}

button, input, select, textarea {
  font: inherit;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

th {
  text-align: left;
}

/* END: Legacy Bootstrap styles, added for retro-compatibility */
