header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  gap: 16px;
  height: 68px;
  background: white;
  border-bottom: 1px solid rgb(232,233,235);
}

.content {
  text-align: center;
  padding: 32px 16px;
  color: #323334;
}

.content img {
  max-width: min(100%, 600px);
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 16px;
  font-size: 16px;
}

.social-links a {
  color: #323334;
  text-decoration: underline;
}

.social-links a:hover {
  color: #DC5F7D;
}

h1 {
  font-size: 40px;
  color: #141415;
}

p {
  font-size: 20px;
  margin: 0;
}
