
@font-face {
  font-family: 'Inter-Regular';
  src: url('Inter-Regular.eot?#iefix') format('embedded-opentype'),  url('Inter-Regular.woff') format('woff'), url('Inter-Regular.ttf')  format('truetype'), url('Inter-Regular.svg#Inter-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
